.body {
    margin: 1%;
}

.border {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    text-align: initial;
}

.posts {
    align-self: flex-start;
    width: 100%;
}

.gray {
    color: gray;
}

.full {
    width: 100%;
    height: 100%;
}

.comment {
    user-select: none;
}

.comment:hover {
    cursor: pointer;
}

.post_id {
    display: none;
}

#comment_form textarea {
    width: 100%;
}

.display_none {
    display: none;
}

.user_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ul_page {
    display: flex;
    justify-content: space-between;
    width: 25%;
    list-style: none;
    padding: 0;
}

.li_page:hover {
    cursor: pointer;
}

.follow_button {
    border-radius: 7px;
    padding: 1% 2%;
}

.center {
    text-align: center;
}

.like {
    display: flex;
    gap: 0.5rem;
}

.overflow {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.flex {
    display: flex;
    align-items: center;
    gap: 2rem;
}